* *::before *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Public-Sans", san-serif;
  font-size: 16px;
}
body {
  width: 100%;
  background-color: hsl(140, 11%, 89%);
}
.container {
  margin: 0 5%;
}

/* VARIABLES */
:root {
  --dark-blue: hsl(231, 100%, 3%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 22%, 36%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* UTILITY CLASSES */
.u-mb-small {
  margin-bottom: 1rem;
}
.gradient__text {
  background: linear-gradient(
    89.97deg,
    var(--lime-green) 1.84%,
    var(--bright-cyan) 102.67%
  );
  /* background-clip: text; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-content {
  width: 45%;
  font-size: 3rem;
}
.home-img {
  width: 40%;
}
.logo {
  font-family: "Lobster", cursive;
  font-weight: 800;
  font-size: 35px;
  /* line-height: 75px; */
  letter-spacing: -0.04em;
}
.check {
  display: None;
}
.hamburger {
  display: None;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 6rem;
}
.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-ul li {
  list-style: none;
  margin: 0 1.5rem;
  text-decoration: none;
}
.direction {
  list-style: none;
  color: hsl(136, 65%, 51%);
  text-decoration: none;
}
li a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--grayish-blue);
  padding-bottom: 1.4rem;
  position: relative;
}
li a:hover, .currentLocation {
  color: var(--dark-blue);
  font-weight: 500;
}

.nav-ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s;
}
.nav-ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}
.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  row-gap: 1.5rem;
  column-gap: 1rem;
}
.article-box {
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
.image-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  padding-top: 1rem;
  border-radius: 50%;
}
.image-container img {
  width: 100%;
  border-radius: 50%;
}
.article-content {
  padding: 0 1rem;
}
.article-author {
  font-size: 1rem; /*1.2*/
  font-weight: 600;
  margin: 0.5rem 0;
}
.article-excerpt {
  font-size: 0.9rem; /*1.6*/
  font-weight: normal;
  margin-top: 0;
}
.page-navigation {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem auto;
}

@media screen and (max-width: 650px) {
  .home-container {
    flex-direction: column-reverse;
  }
  .home-content {
    font-size: 2rem;
    width: 100%;
    padding-top: 2rem;
  }
  .home-img {
    width: 100%;
  }
  .hamburger {
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 8%;
    cursor: pointer;
  }
  .hamburger .menu {
    width: 3rem;
    border-radius: 0%;
    margin: 0;
    height: 2rem;
  }
  .nav-ul {
    flex-direction: column;
    position: absolute;
    width: 60%;
    right: 20%;
    padding: 1rem 0;
    margin-top: 6rem;
    background-color: white;
    border: 1px solid hsl(137, 47%, 34%);
    border-radius: 0.3rem;
    transform: translateY(-200%);
    transition: all 0.5s;
    z-index: 999;
  }
  .nav-ul li {
    padding: 1rem 0;
    font-size: 1.6rem;
  }
  .nav-ul a:hover {
    border-bottom: none;
    color: black;
  }
  .nav-ul li a:hover::before {
    opacity: 0;
  }

  /* SLIDE MENU WHEN HAMBURGER IS CLICKED */
  #toggle:checked ~ .nav-ul {
    transform: translateY(0%);
  }
  #toggle:checked ~ .hamburger {
    border: 1px solid red;
    border-radius: 0.3rem;
    padding: 0.4rem;
  }
  #name,
  #email,
  #priority,
  #mssg {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .hamburger .menu {
    width: 2rem;
  }
}
